//
// ----------------------------------------
// COLORS
//
// Colors in variables.
// Basically we have X brand colors:
// - brand main (e.g. orange)
// - brand secondary (e.g. blue)
//
// We have also X grey tones:
// - dark grey
// - light grey
//
// And of course:
// - black
// - white
//

$color--brand-main: #___;
$color--brand-secondary: #___;

$color--dark: #___;
$color--light: #___;

$color--black: #000000;
$color--white: #ffffff;
$color--bg: #4ab8b7;
$color--bg-2: #282828;
