//
// ----------------------------------------
// FONTS


$font-base: 'Josefin', sans-serif;
$font-sec: 'Oswald', sans-serif;

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Josefin';
	src: url("../fonts/JosefinSans-Regular.ttf") format('truetype');
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'Josefin';
	src: url("../fonts/JosefinSans-SemiBold.ttf") format('truetype');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'Josefin';
	src: url("../fonts/JosefinSans-Bold.ttf") format('truetype');
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'Oswald';
	src: url("../fonts/Oswald-Medium.ttf") format('truetype');
}
