.event-info, .events-error{
    text-align: center;
    font-weight: light;
    margin: 30px;
    font-size: 1.1em;

    a{
        font-weight: bold;
        color: #4ab8b7;
        &:hover{
            text-decoration: underline
        }
    }

    @include media('>=md') {
        margin: 50px;
    }
}

.event{
    border-bottom: 1px solid #282828;
    text-align: center;
    padding: 30px 0px;

    .event__text-holder{
        max-width: 500px;
        margin: 0 auto 20px auto
    }

    .event__date-title-holder{
        // border: 1px dotted red;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        padding: 0px 20px;
    }

    .event__image{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .event__date-holder{
        margin-right: 20px;
        color: $lightBlue;
        font-weight: bold;
        font-family: 'Oswald';
        text-transform: uppercase;
        text-align: center;
        .event__date{
            font-size: 2.5em;
            margin-bottom: 5px
        }
        .event__month{
            font-size: 1.6em
        }
    }

    .event__name{
        text-transform: uppercase;
        font-size: 1.6em;
        text-align: left;
        flex: 1;
    }

    .event__time{
        color: $lightBlue;
        font-size: 1.2em;

        margin-bottom: 15px;
    }

    .event__description{
        margin-bottom: 20px
    }


    @include media('>=md') {
        display: flex;
        flex-direction: row;
        padding: 80px 30px;

        .event__image-holder{
            width: 30%;
            flex: 0.5;
            padding: 20px;
            margin-bottom: 0px;
        }

        .event__text-holder{
            width: 70%;
            flex: 2;
            text-align: left;
            padding: 20px;
            margin-bottom: 0px;
        }

        .event__date-title-holder{
            padding: 0px;
            margin-bottom: 30px;
        }

        a {
            margin: 0px;
        }

        .event__name{
            font-size: 2.2em
        }

        .event__image{
            margin-bottom: 0px;
        }

    }

}