.insight {
    border-bottom: 1px solid #282828;
    text-align: center;
    padding: 30px;

    img, svg {
        max-width: 90px;
        margin-bottom: 20px;
    }

    h2 {
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 500;
        letter-spacing: 1.8px;
        font-size: 24px;
    }

    p {
        line-height: 1.15;
        margin-bottom: 20px
    }

    .btn {
        box-shadow: inset 0 0 0 1px white;
    }
    .btn:hover {
        box-shadow: inset 0 0 0 3px white;
    }

    @include media('>=md') {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 80px 30px;

        .insight__image-holder {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h2{
            margin-bottom: 30px;
            font-size: 28px
        }

        p{
            margin-bottom: 30px;
        }

        a {
            margin: 0px;
        }

        aside{
            flex: 1;
            max-width: 500px;
        }

        svg{
            max-width: 150px;
        }

        &:nth-of-type(even) {
            .insight__text-holder{
                order: -1;
                text-align: right;
            }
        }
    }


}

